/* Estilo global */
* { 
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

/* ------------ Topo do site ------------ */
#topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  height: 70px;
}

.titulo {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  font-family: "Pacifico", cursive;
  color: #851212;
}
/* ------------ Fim topo do site ------------ */

/* ------------ Menu do site ------------ */
#menu {
  text-align: center;
  height: 50px;
  background-color: #851212;
}

#menu a {
  display: inline-block;
  margin: 0 35px;
  padding: 13px 10px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
}

#menu a:hover {
  background-color: #ddd;
  border-radius: 5px;
}
/* ------------ Fim menu do site ------------ */

/* ------------ Conteudo do site - index ------------ */
#conteudo {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.vagas {
  width: 60%;
  height: 100%;
}

.vagas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.texto {
  width: 40%;
  padding: 30px;
}

.texto h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #343a40;
}

.texto p {
  text-align: justify;
  font-size: 1.2em;
  margin-bottom: 50px;
  color: #495057;
}

.texto a {
  float: right;
  padding: 15px 15px;
  background-color: #851212;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.texto a:hover {
  background-color: #ddd;
  color: black;
}
/* ------------ Fim conteudo do site - index ------------ */

/* Estilização do container principal */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Título centralizado */
h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #343a40;
}

/* Labels dos campos */
.form-label {
  font-weight: bold;
  color: #495057;
}

/* Botão de cadastrar */
.btn-primary {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #851212; /* Cor do botão */
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #6c757d;
}

/* Lista de veículos cadastrados */
#vehicle-list {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e9ecef;
}

#vehicle-list .list-group-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Link para a próxima tela */
a.btn-secondary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  background-color: #6c757d;
  color: #ffffff;
  border-radius: 5px;
}

a.btn-secondary:hover {
  background-color: #5a6268;
}

/* Título da seção de veículos cadastrados */
h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #343a40;
  text-align: center;
}

/* ------------ Rodape do site ------------ */
#rodape {
  background-color: #851212;
  width: 100%;
  height: 60px;
}

.pe {
  display: inline-block;
}

.pe a {
  float: left;
  color: white;
  margin: 20px 20px;
}

#rodape p {
  color: white;
  float: right;
  margin: 20px 20px;
}

#rodape li a:hover {
  color: black;
}
/* ------------ Fim rodape do site ------------ */

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .btn-primary, a.btn-secondary {
    font-size: 14px;
  }
}

/* Estilos específicos para a página de administração */
.table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 15px;
  text-align: left;
}

.table th {
  background-color: #851212;
  color: white;
}

.card {
  margin-top: 20px;
}

.card-body {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
  color: #343a40;
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.2rem;
  color: #495057;
}

#vehicle-management tr td {
  vertical-align: middle;
  padding: 15px;
}

#vehicle-management tr td button {
  margin-right: 8px;
}
